body {
    padding-top: 55px;
}

@media (max-width: 576px) {
    .my-pic {
        width: 230px;
        height: 230px;
    }
}

@media (min-width: 577px) and (max-width: 769px) {
    .my-pic {
        width: 290px;
        height: 290px;
    }
}

@media (min-width: 770px) and (max-width: 991px) {
    .my-pic {
        width: 330px;
        height: 330px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .my-pic {
        width: 350px;
        height: 350px;
    }
}

@media (min-width: 1201px) {
    .my-pic {
        width: 370px;
        height:370px;
    }
}
